
                    <div class="col s12 m12 l12 no-p-h">
                        <div class="card mailbox-content">
                            <div class="card-content">
                                <div class="col s12 m12 l12 p-h-md">
                                    <h3>Subjects Management</h3>
                                </div>
                                <div class="row no-m-t no-m-b">
                                    <div class="col s12 m5 l3">
                                        <div class="mailbox-list">
                                            <ul>
                                                <li class="">
                                                    <a href="">
                                                        <h5 class="f-s-19">JAVA PROGRAMING LANGUAGE</h5>
                                                        <p><i class="tiny material-icons">person_pin</i> JPL</p>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col s12 m7 l9">
                                        <div class="mailbox-view">
                                            <div class="mailbox-view-header">
                                                <div class="left">
                                                    <div class="left">
                                                        <img src="assets/images/profile-image-1.png" alt="" class="circle mailbox-profile-image z-depth-1">
                                                    </div>
                                                    <div class="left">
                                                        <span class="mailbox-title">JAVA PROGRAMING LANGUAGE</span>
                                                        <span class="mailbox-author"><i class="tiny material-icons">person_pin</i> JPL</span><br>
                                                        <span class="mailbox-author"><i class="tiny material-icons">today</i> 9 days</span>
                                                    </div>
                                                </div>
                                                <div class="right mailbox-buttons">
                                                    <a class="modal-trigger waves-effect waves-grey btn-flat m-t-xs" href="#update-subject-modal">Edit</a>
                                                    <a class="waves-effect waves-red btn-flat m-t-xs modal-trigger" href="#update-confirm">Update</a>
                                                </div>
                                                <div class="divider mailbox-divider"></div>
                                                    <h5>Feedback List</h5>
                                                    <div class="class-actions m-t-md">
                                                    </div>
                                                    <div class="divider mailbox-divider"></div>
                                                    <div class="">
                                                        <table style="table-layout: fixed;" class="responsive-table bordered striped p-h-md">
                                                            <thead>
                                                            <tr>
                                                                <th data-field="id">Account</th>
                                                                <th data-field="name">Full Name</th>
                                                                <th data-field="price">Phone</th>
                                                                <th data-field="price">Class</th>
                                                                <th data-field="price">Feedback</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>trangdm2</td>
                                                                    <td>Do Manh Trang</td>
                                                                    <td>0934560199</td>
                                                                    <td>HN19_FR_JAVA_06</td>
                                                                    <td>
                                                                        <a class="modal-trigger waves-effect waves-blue btn m-t-xs" href="#feedback-modal">View feedback</a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                <div class="left-sidebar-hover"></div>
                <div class="fixed-action-btn vertical" style="bottom: 45px; right: 24px;">
                    <a class="btn-floating btn-large red">
                        <i class="large material-icons">mode_edit</i>
                    </a>
                    <ul>
                        <li><a href="#add-subject-modal" class="btn-floating blue modal-trigger"><i class="material-icons">add</i>Add</a></li>
                        <li><a class="btn-floating green darken-1"><i class="material-icons">description</i></a></li>
                    </ul>
                </div>
                <!-- Modal feedback-->
                <div id="feedback-modal" class="modal">
                    <form class="col s12">
                        <div class="modal-content">
                            <h4>Add new trainee</h4>
                            <div class="row">
                                Feed backkkkkkkkkk
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
                            <button type="submit" class="modal-action waves-effect red btn ">Submit</button>
                        </div>
                    </form>
                </div>
                <!-- Modal delete trainee confirm -->
                <div id="update-confirm" class="modal l6">
                    <div class="modal-content">
                        <h4>Delete this trainee?</h4>
                        <p>Are you sure to delete this trainee?</p>
                        <div class="modal-footer">
                            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
                            <a href="#!" class=" modal-action waves-effect waves-red btn-flat">Delete</a>
                        </div>
                    </div>
                </div>
                <!-- Modal attendance -->
                <div id="add-subject-modal" class="modal">
                    <form class="col s12">
                    <div class="modal-content">
                        <p class="f-s-32">Add new subject</p>
                        <div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="subjectName" type="text" class="validate">
                                    <label for="subjectName">Subject Name</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="code" type="text" class="validate">
                                    <label for="code">Subject Code</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="duration" type="number" class="validate">
                                    <label for="duration">Duration (Days)</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</button>
                    </div>
                    </form>
                </div>
                <!-- Modal attendance -->
                <div id="update-subject-modal" class="modal modal-fixed-footer">
                    <div class="modal-content">
                        <h4>Modal Header</h4>
                        <p>A bunch of text</p>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
                    </div>
                </div>
        <!-- Javascripts -->
        <script src="assets/plugins/jquery/jquery-2.2.0.min.js"></script>
        <script src="assets/plugins/materialize/js/materialize.min.js"></script>
        <script src="assets/plugins/material-preloader/js/materialPreloader.min.js"></script>
        <script src="assets/plugins/jquery-blockui/jquery.blockui.js"></script>
        <script src="assets/plugins/simditor/scripts/module.js"></script>
        <script src="assets/plugins/simditor/scripts/hotkeys.js"></script>
        <script src="assets/plugins/simditor/scripts/uploader.js"></script>
        <script src="assets/plugins/simditor/scripts/simditor.js"></script>
        <script src="assets/js/alpha.min.js"></script>
        <script src="assets/js/pages/mailbox.js"></script>