
<div class="col s12 m12 l12 no-p-h" id="trainee-manages">
	<div class="card mailbox-content">
		<div class="card-content">
			<div class="col s12 m12 l12 p-h-md">
				<h3>Trainees Management</h3>
				<div class="input-field col s6 m-t-md">
						<div class="row">
							<div class="input-field col s12">
								<input th:onkeyup="loadTrainees()" id="find-trainee" type="text"
									class="validate"> <label for="find-trainee"><i class="tiny material-icons">search</i> Find trainee</label>
							</div>
						</div>
				</div>
				<div class="input-field col s6">
					<span>View by status</span> 
					<select id="trainee-status" th:onchange="loadTrainees()" class="p-h-sm">
						<option value="">All</option>
						<option value="Active" selected>Active</option>
						<option value="Inactive">Inactive</option>
						<option value="Graduated">Graduated</option>
					</select>
				</div>
			</div>
			<div class="row no-m-t no-m-b">
				<div class="col s12 m5 l3">
					<div class="mailbox-list">
						<ul id="list_trainees">
							<li th:each="trainee:${trainees}">
								<a href="#!" th:onclick="'loadTraineeInfo('+${trainee.id}+')'">
									<h5 class="f-s-19" th:text="${trainee.name}"></h5>
									<span><i class="tiny material-icons">cake</i> <span th:text="${trainee.birthDay}"></span></span><br>
									<span><i class="tiny material-icons">email</i> <span th:text="${trainee.email}"></span></span><br>
									<span><i class="tiny material-icons">school</i> <span th:text="${trainee.className}"></span></span><br>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col s12 m7 l9" id="trainee-information" style="display: none">
					<div class="mailbox-view">
						<div class="mailbox-view-header">
							<div class="left">
								<div class="left">
									<img th:src="@{../assets/images/profile-image-1.png}" alt=""
										class="circle mailbox-profile-image z-depth-1">
								</div>
								<div class="left">
									<span class="mailbox-title" id="trainee-name"></span> <span
										class="mailbox-author" id="trainee-email"></span>
								</div>
							</div>
							<div class="right mailbox-buttons">
								<a class="modal-trigger waves-effect waves-grey btn-flat m-t-xs"
									href="#update_trainee_information"
									th:onclick="editTraineeInfo()">Edit Info</a> <a
									class="waves-effect waves-red btn-flat m-t-xs modal-trigger"
									href="#update-status">Update Status</a>
							</div>
							<div class="divider mailbox-divider"></div>
							<div class="mailbox-text">
								<div class="mailbox-details">
									<a href="javascript:void(0);" class="details-toggle">Show
										Details Information</a>
									<div class="row details-list">
										<div class="col s1 first-col">
											<span><i class="tiny material-icons">cake</i> </span> <span><i
												class="tiny material-icons">call</i></span> <span><i
												class="tiny material-icons">person</i></span>
										</div>
										<div class="col s8 second-col">
											<span id="trainee-birthday"> </span> <span id="trainee-phone">
											</span> <span id="trainee-account"> </span>
										</div>
									</div>
								</div>
								<p>Grades</p>
								<div class="divider mailbox-divider"></div>
								<div class="">
									<table style="table-layout: fixed;"
										class="responsive-table bordered striped p-h-md">
										<thead>
											<tr>
												<th data-field="id">Subjects</th>
												<th class="w-25" data-field="name">Theory Mark</th>
												<th class="w-25" data-field="price">Practice Mark</th>
												<th class="w-25" data-field="price">Status</th>
												<th style="word-wrap: break-word;" data-field="price">Feedback</th>
											</tr>
										</thead>
										<tbody id="scores"></tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="left-sidebar-hover"></div>

<div class="fixed-action-btn vertical"
	style="bottom: 45px; right: 24px;">
	<a class="btn-floating btn-large red"> <i
		class="large material-icons">mode_edit</i>
	</a>
	<ul>
		<li><a href="#add-trainee-modal"
			class="btn-floating blue modal-trigger"><i class="material-icons">add</i>Add</a></li>
		<li><a class="btn-floating green darken-1"><i
				class="material-icons">description</i></a></li>
	</ul>
</div>
<!-- Modal add trainee -->
<div id="add-trainee-modal" class="modal modal-fixed-footer">
	<form class="col s12" th:object="${user}" th:onsubmit="return addTrainee()"
		id="add_trainee_form" name="add_trainee_form">
		<div class="modal-content">
			<h4>Add new trainee</h4>
			<div class="row">
			<input type="hidden" name="role" id="add_role" value="1"/>
				<div class="row">
					<div class="input-field col s6">
						<input id="add_first_name" name="firstName" type="text"
							class="validate" th:onchange="generateAccountAndEmail()" required>
						<label for="add_first_name">First Name</label>
					</div>
					<div class="input-field col s6">
						<input id="add_last_name" name="lastName" type="text"
							class="validate" th:onchange="generateAccountAndEmail()" required>
						<label for="add_last_name">Last Name</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<input id="add_phone" name="phone" type="tel" class="validate"
							required> <label for="add_phone">Phone</label>
					</div>
					<div class="input-field col s6">
						<select id="add_gender" name="gender">
							<option value="Male">Male</option>
							<option value="Female">Female</option>
							<option value="Other" selected>Other</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<span>Account</span> <input id="add_account" name="account"
							type="text" class="validate" required readonly="readonly">
					</div>
					<div class="input-field col s6">
						<span>Email</span> <input id="add_email" name="email" type="email"
							class="validate" required readonly="readonly">
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<p>Birth Day</p>
						<input id="add_birthday" name="birthDay" type="date"
							class="validate" required="required">
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<a href="#!"
				class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
			<button type="submit" class="modal-action waves-effect red btn ">Submit</button>
		</div>
	</form>
</div>
<!-- Modal feedback -->
<div id="feedback-modal" class="modal">
	<form class="col s12">
		<div class="modal-content">
			<h4>Add new trainee</h4>
			<div class="row">Feed backkkkkkkkkk</div>
		</div>
		<div class="modal-footer">
			<a href="#!" id="exit-feedback"
				class=" modal-action modal-close waves-effect waves-green btn-flat">Done</a>
		</div>
	</form>
</div>
<!-- Modal Structure -->
<div id="update_trainee_information" class="modal modal-fixed-footer">
	<form th:onsubmit="return updateTrainee()" class="col s12">
		<div class="modal-content">
			<h4>UPDATE TRAINEE INFORMATION</h4>
			<div class="row">
				<input type="hidden" id="update_id" class="traineeId" name="traineeId" />
				<div class="row">
					<div class="input-field col s6">
						<span>First Name</span> <input id="update_first_name" type="text"
							class="validate">
					</div>
					<div class="input-field col s6">
						<span>Last Name</span> <input id="update_last_name" type="text"
							class="validate">
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<span>Phone</span> <input id="update_phone" type="tel"
							class="validate">
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<span>Birth Day</span> 
						<input id="update_birthday" type="date" class="validate">
					</div>
					<div class="input-field col s6">
						<span>Gender</span> 
						<select id="update_gender" name="gender">
							<option value="Male">Male</option>
							<option value="Female">Female</option>
							<option value="Other" selected>Other</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<input id="update_account" type="text" class="validate" readonly>
					</div>
					<div class="input-field col s6">
						<input id="update_email" type="email" class="validate" readonly>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<a href="#!"
				class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
			<button type="submit" class="modal-action waves-effect red btn ">Submit</button>
		</div>
	</form>
</div>
<!-- Modal Structure -->
<div id="update-status" class="modal l6">
	<div class="modal-content">
		<h4>CHANGE TRAINEE STATUS</h4>
		<div>
			<p class="f-s-16">Change status</p>
			<select class="p-h-md" id="traineeStatus">
				<option value="Active" selected>Active</option>
				<option value="Inactive">Inactive</option>
				<option value="Graduated">Graduated</option>
			</select> 
			<input type="hidden" id="statusTraineeId" class="traineeId" name="traineeId" />
		</div>
		<div class="modal-footer">
			<a href="#!"
				class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
			<a href="#!" th:onclick="changeTraineeStatus()" class=" modal-action waves-effect waves-red btn-flat">Submit</a>
		</div>
	</div>
</div>
<script th:src="@{../assets/plugins/jquery/jquery-2.2.0.min.js}"></script>
<script th:src="@{../assets/plugins/materialize/js/materialize.min.js}"></script>
<script th:src="@{../assets/plugins/material-preloader/js/materialPreloader.min.js}"></script>
<script th:src="@{../assets/plugins/jquery-blockui/jquery.blockui.js}"></script>
<script th:src="@{../assets/plugins/datatables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{../assets/plugins/simditor/scripts/module.js}"></script>
<script th:src="@{../assets/plugins/simditor/scripts/hotkeys.js}"></script>
<script th:src="@{../assets/plugins/simditor/scripts/uploader.js}"></script>
<script th:src="@{../assets/plugins/simditor/scripts/simditor.js}"></script>
<script th:src="@{../assets/js/alpha.min.js}"></script>
<script th:src="@{../assets/js/pages/table-data.js}"></script>
<script th:src="@{../assets/js/pages/mailbox.js}"></script>
<script th:src="@{../assets/js/pages/form-wizard.js}"></script>
<script th:src="@{../assets/js/admin-manage.js}"></script>
<div id="scripts"></div>