
<div class="col s12 m12 l12 no-p-h">
	<div class="card mailbox-content">
		<div class="card-content">
			<div class="col s12 m12 l12 p-h-md">
				<h3>Trainees Management</h3>
				<div class="input-field col s4 m-t-sm">
					<p class="f-s-16">View by category</p>
					<select class="p-h-md">
						<option value="0" selected>All</option>
						<option value="1">Java</option>
						<option value="2">.Net</option>
						<option value="3">Test</option>
					</select>
				</div>
				<div class="input-field col s4 m-t-sm">
					<p class="f-s-16">View by class</p>
					<select class="p-h-md">
						<option value="0" selected>All</option>
						<option value="1">Class 1</option>
						<option value="2">Class 2</option>
						<option value="3">Class 3</option>
					</select>
				</div>
				<div class="input-field col s4 m-t-sm">
					<p class="f-s-16">View by status</p>
					<select class="p-h-md">
						<option value="0">All</option>
						<option value="1" selected>Active</option>
						<option value="2">Inactive</option>
					</select>
				</div>
			</div>
			<div class="row no-m-t no-m-b">
				<div class="col s12 m5 l3">
					<div class="mailbox-list">
						<ul>
							<li class=""><a href="">
									<h5 class="f-s-19">Jonathan Smith</h5>
									<p>
										<i class="tiny material-icons">person_pin</i> 10/10/1997
									</p>
									<p>
										<i class="tiny material-icons">work</i> Java 06
									</p>
									<p>
										<i class="tiny material-icons">email</i>
										jonathansm@fsoft.com.vn
									</p>
							</a></li>
							<li class=""><a href="">
									<h5 class="f-s-19">Jonathan Smith</h5>
									<p>
										<i class="tiny material-icons">person_pin</i> 10/10/1997
									</p>
									<p>
										<i class="tiny material-icons">work</i> Java 06
									</p>
									<p>
										<i class="tiny material-icons">email</i>
										jonathansm@fsoft.com.vn
									</p>
							</a></li>
							<li class=""><a href="">
									<h5 class="f-s-19">Jonathan Smith</h5>
									<p>
										<i class="tiny material-icons">person_pin</i> 10/10/1997
									</p>
									<p>
										<i class="tiny material-icons">work</i> Java 06
									</p>
									<p>
										<i class="tiny material-icons">email</i>
										jonathansm@fsoft.com.vn
									</p>
							</a></li>
							<li class=""><a href="">
									<h5 class="f-s-19">Jonathan Smith</h5>
									<p>
										<i class="tiny material-icons">person_pin</i> 10/10/1997
									</p>
									<p>
										<i class="tiny material-icons">work</i> Java 06
									</p>
									<p>
										<i class="tiny material-icons">email</i>
										jonathansm@fsoft.com.vn
									</p>
							</a></li>
							<li class=""><a href="">
									<h5 class="f-s-19">Jonathan Smith</h5>
									<p>
										<i class="tiny material-icons">person_pin</i> 10/10/1997
									</p>
									<p>
										<i class="tiny material-icons">work</i> Java 06
									</p>
									<p>
										<i class="tiny material-icons">email</i>
										jonathansm@fsoft.com.vn
									</p>
							</a></li>
							<li class=""><a href="">
									<h5 class="f-s-19">Jonathan Smith</h5>
									<p>
										<i class="tiny material-icons">person_pin</i> 10/10/1997
									</p>
									<p>
										<i class="tiny material-icons">work</i> Java 06
									</p>
									<p>
										<i class="tiny material-icons">email</i>
										jonathansm@fsoft.com.vn
									</p>
							</a></li>
							<li class=""><a href="">
									<h5 class="f-s-19">Jonathan Smith</h5>
									<p>
										<i class="tiny material-icons">person_pin</i> 10/10/1997
									</p>
									<p>
										<i class="tiny material-icons">work</i> Java 06
									</p>
									<p>
										<i class="tiny material-icons">email</i>
										jonathansm@fsoft.com.vn
									</p>
							</a></li>
							<li class=""><a href="">
									<h5 class="f-s-19">Jonathan Smith</h5>
									<p>
										<i class="tiny material-icons">person_pin</i> 10/10/1997
									</p>
									<p>
										<i class="tiny material-icons">work</i> Java 06
									</p>
									<p>
										<i class="tiny material-icons">email</i>
										jonathansm@fsoft.com.vn
									</p>
							</a></li>
							<li class=""><a href="">
									<h5 class="f-s-19">Jonathan Smith</h5>
									<p>
										<i class="tiny material-icons">person_pin</i> 10/10/1997
									</p>
									<p>
										<i class="tiny material-icons">work</i> Java 06
									</p>
									<p>
										<i class="tiny material-icons">email</i>
										jonathansm@fsoft.com.vn
									</p>
							</a></li>
							<li class=""><a href="">
									<h5 class="f-s-19">Jonathan Smith</h5>
									<p>
										<i class="tiny material-icons">person_pin</i> 10/10/1997
									</p>
									<p>
										<i class="tiny material-icons">work</i> Java 06
									</p>
									<p>
										<i class="tiny material-icons">email</i>
										jonathansm@fsoft.com.vn
									</p>
							</a></li>
							<li class=""><a href="">
									<h5 class="f-s-19">Jonathan Smith</h5>
									<p>
										<i class="tiny material-icons">person_pin</i> 10/10/1997
									</p>
									<p>
										<i class="tiny material-icons">work</i> Java 06
									</p>
									<p>
										<i class="tiny material-icons">email</i>
										jonathansm@fsoft.com.vn
									</p>
							</a></li>
							<li class=""><a href="">
									<h5 class="f-s-19">Jonathan Smith</h5>
									<p>
										<i class="tiny material-icons">person_pin</i> 10/10/1997
									</p>
									<p>
										<i class="tiny material-icons">work</i> Java 06
									</p>
									<p>
										<i class="tiny material-icons">email</i>
										jonathansm@fsoft.com.vn
									</p>
							</a></li>
						</ul>
					</div>
				</div>
				<div class="col s12 m7 l9">
					<div class="mailbox-view">
						<div class="mailbox-view-header">
							<div class="left">
								<div class="left">
									<img src="assets/images/profile-image-1.png" alt=""
										class="circle mailbox-profile-image z-depth-1">
								</div>
								<div class="left">
									<span class="mailbox-title">Jonathan Smith</span> <span
										class="mailbox-author">jonathansm@fsoft.com.vn</span>
								</div>
							</div>
							<div class="right mailbox-buttons">
								<a class="modal-trigger waves-effect waves-grey btn-flat m-t-xs"
									href="#update_trainee_information">Edit</a> <a
									class="waves-effect waves-red btn-flat m-t-xs modal-trigger"
									href="#delete-confirm">Delete</a>
							</div>
							<div class="divider mailbox-divider"></div>
							<div class="mailbox-text">
								<div class="mailbox-details">
									<a href="javascript:void(0);" class="details-toggle">Show
										Details Information</a>
									<div class="row details-list">
										<div class="col s1 first-col">
											<span><i class="tiny material-icons">person_pin</i> </span> <span><i
												class="tiny material-icons">work</i></span> <span><i
												class="tiny material-icons">email</i></span>
										</div>
										<div class="col s8 second-col">
											<span> 10/10/1997</span> <span> HN19_FR_JAVA_06</span> <span>
												jonathansm@fsoft.com.vn</span>
										</div>
									</div>
								</div>
								<p>Grades</p>
								<div class="divider mailbox-divider"></div>
								<div class="">
									<table style="table-layout: fixed;"
										class="responsive-table bordered striped p-h-md">
										<thead>
											<tr>
												<th data-field="id">Subjects</th>
												<th class="w-25" data-field="name">Theory Mark</th>
												<th class="w-25" data-field="price">Practice Mark</th>
												<th class="w-25" data-field="price">Status</th>
												<th style="word-wrap: break-word;" data-field="price">Feedback</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>JPL</td>
												<td>9</td>
												<td>9</td>
												<td>Done</td>
												<td><a
													class="modal-trigger waves-effect waves-blue btn m-t-xs"
													href="#feedback-modal">View feedback</a></td>
											</tr>
											<tr>
												<td>SQL</td>
												<td>8</td>
												<td>8</td>
												<td>Done</td>
												<td><a
													class="modal-trigger waves-effect waves-blue btn m-t-xs"
													href="#feedback-modal">View feedback</a></td>
											</tr>
											<tr>
												<td>ORM</td>
												<td>--</td>
												<td>--</td>
												<td>In process</td>
												<td></td>
											</tr>
											<tr>
												<td>CNU</td>
												<td>--</td>
												<td>--</td>
												<td>In coming</td>
												<td></td>
											</tr>
											<tr>
												<td>JWEB</td>
												<td>--</td>
												<td>--</td>
												<td>In coming</td>
												<td></td>
											</tr>
											<tr>
												<td>SFW</td>
												<td>--</td>
												<td>--</td>
												<td>In coming</td>
												<td></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="left-sidebar-hover"></div>

<div class="fixed-action-btn vertical"
	style="bottom: 45px; right: 24px;">
	<a class="btn-floating btn-large red"> <i
		class="large material-icons">mode_edit</i>
	</a>
	<ul>
		<li><a href="#add-trainee-modal"
			class="btn-floating blue modal-trigger"><i class="material-icons">add</i>Add</a></li>
		<li><a class="btn-floating green darken-1"><i
				class="material-icons">description</i></a></li>
	</ul>
</div>
<!-- Modal add trainee -->
<div id="add-trainee-modal" class="modal modal-fixed-footer">
	<form class="col s12" th:action="@{/create-trainee}">
		<div class="modal-content">
			<h4>Add new trainee</h4>
			<div class="row">
				<div class="row">
					<div class="input-field col s6">
						<input id="add_first_name" name="firstName" type="text"
							class="validate"> <label for="add_first_name">First
							Name</label>
					</div>
					<div class="input-field col s6">
						<input id="add_last_name" name="lastName" type="text"
							class="validate"> <label for="add_last_name">Last
							Name</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<input id="add_phone" name="phone" type="tel" class="validate">
						<label for="add_phone">Phone</label>
					</div>
					<div class="input-field col s6">
						<select id="add_gender" name="gender" required>
							<option value="" selected>Gender</option>
							<option value="Male">Male</option>
							<option value="Female">Female</option>
							<option value="Other">Other</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<input id="add_account" name="account" type="text"
							class="validate"> <label for="add_account">Account</label>
					</div>
					<div class="input-field col s6">
						<input id="add_email" name="email" type="email" class="validate">
						<label for="add_email">Email</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<p>Birth Day</p>
						<input id="add_birthday" name="birthDay" type="date"
							class="validate">
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<a href="#!"
				class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
			<button type="submit" class="modal-action waves-effect red btn ">Submit</button>
		</div>
	</form>
</div>
<!-- Modal feedback -->
<div id="feedback-modal" class="modal">
	<form class="col s12">
		<div class="modal-content">
			<h4>Add new trainee</h4>
			<div class="row">Feed backkkkkkkkkk</div>
		</div>
		<div class="modal-footer">
			<a href="#!"
				class=" modal-action modal-close waves-effect waves-green btn-flat">Done</a>
		</div>
	</form>
</div>
<!-- Modal Structure -->
<div id="update_trainee_information" class="modal modal-fixed-footer">
	<form class="col s12">
		<div class="modal-content">
			<h4>Add new trainee</h4>
			<div class="row">
				<div class="row">
					<div class="input-field col s6">
						<input id="add_first_name" type="text" class="validate"> <label
							for="add_first_name">First Name</label>
					</div>
					<div class="input-field col s6">
						<input id="add_last_name" type="text" class="validate"> <label
							for="add_last_name">Last Name</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<input id="add_phone" type="tel" class="validate"> <label
							for="add_phone">Phone</label>
					</div>
					<div class="input-field col s6">
						<select id="add_gender" required>
							<option value="" selected>Gender</option>
							<option value="Male">Male</option>
							<option value="Female">Female</option>
							<option value="Other">Other</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<input id="add_account" type="text" class="validate"> <label
							for="add_account">Account</label>
					</div>
					<div class="input-field col s6">
						<input id="add_email" type="email" class="validate"> <label
							for="add_email">Email</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<p>Birth Day</p>
						<input id="add_birthday" type="date" class="validate">
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<a href="#!"
				class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
			<button type="submit" class="modal-action waves-effect red btn ">Submit</button>
		</div>
	</form>
</div>
<!-- Modal Structure -->
<div id="delete-confirm" class="modal l6">
	<div class="modal-content">
		<h4>Delete this trainee?</h4>
		<p>Are you sure to delete this trainee?</p>
		<div class="modal-footer">
			<a href="#!"
				class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
			<a href="#!" class=" modal-action waves-effect waves-red btn-flat">Delete</a>
		</div>
	</div>
</div>
<script th:src="@{../assets/plugins/jquery/jquery-2.2.0.min.js}"></script>
<script th:src="@{../assets/plugins/materialize/js/materialize.min.js}"></script>
<script th:src="@{../assets/plugins/material-preloader/js/materialPreloader.min.js}"></script>
<script th:src="@{../assets/plugins/jquery-blockui/jquery.blockui.js}"></script>
<script th:src="@{../assets/plugins/datatables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{../assets/plugins/simditor/scripts/module.js}"></script>
<script th:src="@{../assets/plugins/simditor/scripts/hotkeys.js}"></script>
<script th:src="@{../assets/plugins/simditor/scripts/uploader.js}"></script>
<script th:src="@{../assets/plugins/simditor/scripts/simditor.js}"></script>
<script th:src="@{../assets/js/alpha.min.js}"></script>
<script th:src="@{../assets/js/pages/table-data.js}"></script>
<script th:src="@{../assets/js/pages/mailbox.js}"></script>
<script th:src="@{../assets/js/pages/form-wizard.js}"></script>