<div class="col s12 m12 l12 no-p-h">
	<div class="card mailbox-content">
		<div class="card-content">
			<div class="col s12 m12 l12 p-h-md">
				<h3>Subjects Management</h3>
			</div>
			<div class="row">
				<div class="input-field col s12 m6 l3 m-t-sm">
					<p class="f-s-16">View by status</p>
					<select onchange="load_Classes()" id="class-status" class="p-h-md">
						<option value="In Active">In Active</option>
						<option value="Active" selected>Active</option>
						<option value="New">New</option>
					</select>
				</div>
				<div class="col s12 m7 l9"></div>
			</div>
			<div class="row no-m-t no-m-b">
				<div class="col s12 m5 l3">
					<div class="mailbox-list" id="list-subject">
						<ul th:each="subject : ${subjects}" id="listSubjects">
							<li><a href="#" class="waves-effect waves-light"
								th:onclick="'load_subjectDetails('+${subject.id}+')'">
									<h5 class="f-s-19" th:text=${subject.name}></h5>
									<p th:text="${subject.code}">
										<i class="tiny material-icons">person_pin</i>
									</p>
							</a></li>
						</ul>
					</div>
				</div>
				<div class="col s12 m7 l9" id="subjectDetails">
					
				</div>
			</div>
		</div>
	</div>
</div>
<div class="left-sidebar-hover"></div>
<div class="fixed-action-btn vertical"
	style="bottom: 45px; right: 24px;">
	<a class="btn-floating btn-large red"> <i
		class="large material-icons">mode_edit</i>
	</a>
	<ul>
		<li><a href="#add-subject-modal"
			class="btn-floating blue modal-trigger"><i class="material-icons">add</i>Add</a></li>
		<li><a class="btn-floating green darken-1"><i
				class="material-icons">description</i></a></li>
	</ul>
</div>
<!-- Modal feedback -->
<div id="feedback-modal" class="modal">
	<div class="modal-content">
		<h4>Feedback</h4>
		<p id="feedback-content"></p>
	</div>
</div>
<!-- Modal delete trainee confirm -->
<div id="update-confirm" class="modal l6">
	<div class="modal-content">
		<h4>Delete this Subject?</h4>
		<p>Are you sure to delete this Subject?</p>
		<div class="modal-footer">
			<a href="#!"
				class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
			<a href="#!"
				class=" modal-action modal-close waves-effect waves-red btn-flat"
				th:onclick="del_subject()">Delete</a>
		</div>
	</div>
</div>
<!-- Modal attendance -->
<div id="add-subject-modal" class="modal">
	<form class="col s12" th:action="@{add-subject}" method="POST">
		<div class="modal-content">
			<p class="f-s-32">Add new subject</p>
			<div>
				<div class="row">
					<div class="input-field col s12">
						<input id="subjectName" type="text" class="validate"
							name="subjectName" required> <label for="subjectName">Subject
							Name</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="code" type="text" class="validate" name="subjectCode"
							required> <label for="code">Subject Code</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="duration" type="number" class="validate"
							name="subjectDuration" required> <label for="duration">Duration
							(Days)</label>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button"
				class="modal-action waves-effect waves-green btn-flat"
				th:onclick="load_subjects()">Commit</button>
		</div>
	</form>
</div>

<!-- Javascript -->
<script th:src="@{../assets/plugins/jquery/jquery-2.2.0.min.js}"></script>
<script th:src="@{../assets/plugins/materialize/js/materialize.min.js}"></script>
<script
	th:src="@{../assets/plugins/material-preloader/js/materialPreloader.min.js}"></script>
<script th:src="@{../assets/plugins/jquery-blockui/jquery.blockui.js}"></script>
<script
	th:src="@{../assets/plugins/datatables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{../assets/plugins/simditor/scripts/module.js}"></script>
<script th:src="@{../assets/plugins/simditor/scripts/hotkeys.js}"></script>
<script th:src="@{../assets/plugins/simditor/scripts/uploader.js}"></script>
<script th:src="@{../assets/plugins/simditor/scripts/simditor.js}"></script>
<script th:src="@{../assets/js/alpha.min.js}"></script>
<script th:src="@{../assets/js/pages/table-data.js}"></script>
<script th:src="@{../assets/js/pages/mailbox.js}"></script>
<script th:src="@{../assets/js/pages/form-wizard.js}"></script>

<script th:src="@{../assets/js/admin-subject.js}"></script>