<ul class="collapsible" data-collapsible="accordion"
	th:each="className : ${usersByClass.keySet()}">
	<li>
		<div class="collapsible-header" th:text="${className}"></div>
		<div class="collapsible-body">
			<table style="table-layout: fixed;"
				class="responsive-table bordered striped p-h-md">
				<thead>
					<tr>
						<th data-field="id">Account</th>
						<th data-field="name">Full Name</th>
						<th data-field="price">Phone</th>
						<th data-field="price">Feedback</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${usersByClass.get(className)}" th:object="${user}" th:if="${user.role} == 'ROLE_TRAINEE'">
						<td th:text="${user.account}"></td>
						<td th:text="${user.firstName}+' ' + ${user.lastName}"></td>
						<td th:text="${user.phone}"></td>
						<td><a
							class="modal-trigger waves-effect waves-blue btn m-t-xs"
							href="#feedback-modal"
							th:onclick="'load_feedback('+${user.id}+')'">View
								feedback</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</li>
</ul>

<!-- Javascript -->
<script th:src="@{../assets/plugins/jquery/jquery-2.2.0.min.js}"></script>
<script th:src="@{../assets/plugins/materialize/js/materialize.min.js}"></script>
<script
	th:src="@{../assets/plugins/material-preloader/js/materialPreloader.min.js}"></script>
<script th:src="@{../assets/plugins/jquery-blockui/jquery.blockui.js}"></script>
<script
	th:src="@{../assets/plugins/datatables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{../assets/plugins/simditor/scripts/module.js}"></script>
<script th:src="@{../assets/plugins/simditor/scripts/hotkeys.js}"></script>
<script th:src="@{../assets/plugins/simditor/scripts/uploader.js}"></script>
<script th:src="@{../assets/plugins/simditor/scripts/simditor.js}"></script>
<!-- <script th:src="@{../assets/js/alpha.min.js}"></script> -->
<script th:src="@{../assets/js/pages/table-data.js}"></script>
<script th:src="@{../assets/js/pages/mailbox.js}"></script>
<script th:src="@{../assets/js/pages/form-wizard.js}"></script>

<script th:src="@{../assets/js/admin-subject.js}"></script>