
<div class="col s12 m12 l12 no-p-h">
	<div class="card mailbox-content">
		<div class="card-content">
			<div class="col s12 m12 l12 p-h-md">
				<h3>Trainers Management</h3>
				<div class="input-field col s6 m-t-md">
						<div class="row">
							<div class="input-field col s12">
								<input th:onkeyup="loadTrainers()" id="find-trainer" type="text" class="validate">
								<label for="find-trainer"><i class="tiny material-icons">search</i> Find trainer</label>
							</div>
						</div>
				</div>
				<div class="input-field col s6">
					<span>View by status</span>
					<select id="trainer-status" th:onchange="loadTrainers()" class="p-h-sm">
						<option value="" selected>All</option>
						<option value="Active">Active</option>
						<option value="Disabled">Disabled</option>
					</select>
				</div>
			</div>
			<div class="row no-m-t no-m-b">
				<div class="col s12 m5 l3">
					<div class="mailbox-list">
						<ul id="list_trainers">
							<li th:each="trainer:${trainers}">
								<a href="#!" th:onclick="'loadTrainerInfo('+${trainer.id}+')'">
									<h5 class="f-s-19" th:text="${trainer.name}"></h5>
									<span><i class="tiny material-icons">cake</i> <span th:text="${trainer.birthDay}"></span></span><br>
									<span><i class="tiny material-icons">email</i> <span th:text="${trainer.email}"></span></span><br>
									<span><i class="tiny material-icons">school</i> <span th:text="${trainer.account}"></span></span><br>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col s12 m7 l9">
					<div class="mailbox-view" id="trainer-information" style="display: none">
						<div class="mailbox-view-header">
							<div class="left">
								<div class="left">
									<img th:src="@{../assets/images/profile-image-1.png}" alt=""
										class="circle mailbox-profile-image z-depth-1">
								</div>
								<div class="left">
									<span class="mailbox-title" id="trainer-name"></span> <span
										class="mailbox-author" id="trainer-email"></span>
								</div>
							</div>
							<div class="right mailbox-buttons">
								<a onclick="editTrainerInfo()" class="modal-trigger waves-effect waves-grey btn-flat m-t-xs"
									href="#update_trainer_information">Edit</a> <a
									class="waves-effect waves-red btn-flat m-t-xs modal-trigger"
									href="#update-status">Update Status</a>
							</div>
							<div class="divider mailbox-divider"></div>
							<div class="mailbox-text">
								<div class="mailbox-details">
									<a href="javascript:void(0);" class="details-toggle">Show
										Details Information</a>
									<div class="row details-list">
										<div class="col s1 first-col">
											<span><i class="tiny material-icons">person_pin</i> </span>
											<span><i class="tiny material-icons">phone</i></span>
										</div>
										<div class="col s8 second-col">
											<span id="trainer-birthday"></span>
											<span id="trainer-phone"></span>
										</div>
									</div>
								</div>
								<p>Class List</p>
								<div class="divider mailbox-divider"></div>
								<div class="">
									<ul class="collapsible" data-collapsible="accordion" id="list-classes">

									</ul>
									<ul class="collapsible" data-collapsible="accordion" style="display: none">
										<li>
											<div class="collapsible-header"></div>
											<div class="collapsible-body">
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="left-sidebar-hover"></div>
<div class="fixed-action-btn vertical"
	style="bottom: 45px; right: 24px;">
	<a class="btn-floating btn-large red"> <i
		class="large material-icons">mode_edit</i>
	</a>
	<ul>
		<li><a href="#add-trainer-modal"
			class="btn-floating blue modal-trigger"><i class="material-icons">add</i>Add</a></li>
		<li><a class="btn-floating green darken-1"><i
				class="material-icons">description</i></a></li>
	</ul>
</div>
<!-- Modal add trainer -->
<div id="add-trainer-modal" class="modal modal-fixed-footer">
	<form class="col s12" th:object="${user}" th:onsubmit="return addTrainer()" id="add_trainer_form" name="add_trainer_form">
		<div class="modal-content">
			<h4>Add new trainer</h4>
			<div class="row">
				<input type="hidden" name="role" id="add_role" value="0"/>
				<div class="row">
					<div class="input-field col s6">
						<input id="add_first_name" name="firstName" type="text"
									 class="validate" th:onchange="generateAccountAndEmail()" required>
						<label for="add_first_name">First Name</label>
					</div>
					<div class="input-field col s6">
						<input id="add_last_name" name="lastName" type="text"
									 class="validate" th:onchange="generateAccountAndEmail()" required>
						<label for="add_last_name">Last Name</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<input id="add_phone" name="phone" type="tel" class="validate"
									 required> <label for="add_phone">Phone</label>
					</div>
					<div class="input-field col s6">
						<select id="add_gender" name="gender">
							<option value="Male">Male</option>
							<option value="Female">Female</option>
							<option value="Other" selected>Other</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<span>Account</span> <input id="add_account" name="account" type="text" class="validate" required readonly="readonly">
					</div>
					<div class="input-field col s6">
						<span>Email</span> <input id="add_email" name="email" type="email" class="validate" required readonly="readonly">
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<p>Birth Day</p>
						<input id="add_birthday" name="birthDay" type="date" class="validate" required="required">
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
			<button type="submit" class="modal-action waves-effect red btn ">Submit</button>
		</div>
	</form>
</div>
<!-- Modal Structure -->
<div id="update_trainer_information" class="modal modal-fixed-footer">
	<form th:onsubmit="return updateTrainer()" class="col s12" id="update_trainer_form">
		<div class="modal-content">
			<h4>UPDATE TRAINER INFORMATION</h4>
			<div class="row">
				<input type="hidden" id="update_id" class="trainerId" name="id"/>
				<div class="row">
					<div class="input-field col s6">
						<span>First Name</span> <input name="firstName" id="update_first_name" type="text" class="validate" required>
					</div>
					<div class="input-field col s6">
						<span>Last Name</span> <input name="lastName" id="update_last_name" type="text" class="validate" required>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<span>Phone</span> <input id="update_phone" name="phone" type="tel" class="validate" required>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<span>Birth Day</span>
						<input id="update_birthday" name="birthDay" type="date" class="validate" required>
					</div>
					<div class="input-field col s6">
						<span>Gender</span>
						<select id="update_gender" name="gender" required>
							<option value="Male">Male</option>
							<option value="Female">Female</option>
							<option value="Other" selected>Other</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<input id="update_account" name="account" type="text" class="validate" readonly>
					</div>
					<div class="input-field col s6">
						<input id="update_email" name="email" type="email" class="validate" readonly>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<a href="#!"
				 class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
			<button type="submit" class="modal-action waves-effect red btn ">Submit</button>
		</div>
	</form>
</div>
<!-- Modal Structure -->
<div id="update-status" class="modal l6">
	<div class="modal-content">
		<h4>CHANGE TRAINER STATUS</h4>
		<div>
			<p class="f-s-16">Change status</p>
			<select class="p-h-md" id="trainerStatus">
				<option value="Active" selected>Active</option>
				<option value="Disabled">Disabled</option>
			</select>
			<input type="hidden" id="statusTrainerId" class="trainerId" name="trainerId" />
		</div>
		<div class="modal-footer">
			<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
			<a href="#!" th:onclick="changeTrainerStatus()" class=" modal-action modal-close waves-effect waves-red btn-flat">Submit</a>
		</div>
	</div>
</div>
<script th:src="@{../assets/plugins/jquery/jquery-2.2.0.min.js}"></script>
<script th:src="@{../assets/plugins/materialize/js/materialize.min.js}"></script>
<script th:src="@{../assets/plugins/material-preloader/js/materialPreloader.min.js}"></script>
<script th:src="@{../assets/plugins/jquery-blockui/jquery.blockui.js}"></script>
<script th:src="@{../assets/plugins/datatables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{../assets/plugins/simditor/scripts/module.js}"></script>
<script th:src="@{../assets/plugins/simditor/scripts/hotkeys.js}"></script>
<script th:src="@{../assets/plugins/simditor/scripts/uploader.js}"></script>
<script th:src="@{../assets/plugins/simditor/scripts/simditor.js}"></script>
<script th:src="@{../assets/js/alpha.min.js}"></script>
<script th:src="@{../assets/js/pages/table-data.js}"></script>
<script th:src="@{../assets/js/pages/mailbox.js}"></script>
<script th:src="@{../assets/js/pages/form-wizard.js}"></script>
<script th:src="@{../assets/js/admin-manage.js}"></script>
