 <div class="col s12">
        <div class="page-title">FAQ</div>
      </div>
      <div class="col s12 m12 l12">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Frequently Asked Questions</span>
            <ul class="collapsible" data-collapsible="accordion">
              <li>
                <div class="collapsible-header">1. How to add new trainee?</div>
                <div class="collapsible-body"><p>Curabitur a lectus at risus porttitor facilisis. Duis ac fermentum mi, consequat finibus erat. Proin hendrerit, ex et gravida hendrerit, mauris quam lacinia nunc, et laoreet mi risus quis risus.</p></div>
              </li>
              <li>
                <div class="collapsible-header">2. Praesent accumsan et nisi gravida suscipit?</div>
                <div class="collapsible-body"><p>Vestibulum laoreet nisi vel massa rutrum ullamcorper. Phasellus nec turpis lacus. Suspendisse pulvinar ut ligula ut egestas. Quisque posuere viverra enim sagittis pellentesque.</p></div>
              </li>
              <li>
                <div class="collapsible-header">3. Nulla eget turpis non risus dignissim cursus eget sed dolor?</div>
                <div class="collapsible-body"><p>Mauris interdum erat ac sapien fringilla, at sollicitudin enim finibus.</p></div>
              </li>
              <li>
                <div class="collapsible-header">4. Morbi placerat sapien vitae lacus auctor?</div>
                <div class="collapsible-body"><p>Proin non facilisis lorem, a finibus nulla. Donec sed eleifend nulla, nec dictum enim. Sed tempus non ex id pulvinar. Nam mollis in dolor quis convallis. Donec vulputate leo nibh, ac ultrices ex auctor eu. Praesent sit amet velit at dui tristique tincidunt.</p></div>
              </li>
              <li>
                <div class="collapsible-header">5. Aenean sit amet metus et magna viverra venenatis ac id lacus?</div>
                <div class="collapsible-body"><p>Nunc vel risus quis sem posuere tincidunt. Vestibulum dignissim orci ut erat ullamcorper, pharetra dictum lorem rutrum.</p></div>
              </li>
              <li>
                <div class="collapsible-header">6. Curabitur bibendum et magna id condimentum?</div>
                <div class="collapsible-body"><p>Maecenas nulla nunc, vehicula non ultricies in, maximus sed urna. Proin nibh enim, consequat vel metus et, auctor varius ex. Vestibulum facilisis leo non tellus commodo, feugiat condimentum urna pretium.</p></div>
              </li>
              <li>
                <div class="collapsible-header">7. Pellentesque porta dictum purus non molestie?</div>
                <div class="collapsible-body"><p>Maecenas elementum lacinia neque, id mollis lorem aliquam at. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nulla mi, pharetra eu nulla eu, consectetur convallis turpis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer eleifend sollicitudin enim, eget placerat odio pellentesque ut. Sed vel rhoncus leo, sit amet luctus lorem. Cras vitae dolor mi.</p></div>
              </li>
              <li>
                <div class="collapsible-header">8. Class aptent taciti sociosqu ad litora torquent per conubia nostra?</div>
                <div class="collapsible-body"><p>Cras rutrum consectetur velit eget porta. Phasellus non odio id ligula mollis tempor eu et diam.</p></div>
              </li>
              <li>
                <div class="collapsible-header">9. Quisque bibendum mauris a rhoncus eleifend?</div>
                <div class="collapsible-body"><p>Sed tincidunt dapibus lorem, eget iaculis massa ultrices a. Sed ornare neque sit amet mauris feugiat iaculis. In velit nisi, egestas id mauris nec, interdum pellentesque sem.</p></div>
              </li>
              <li>
                <div class="collapsible-header">10. Neque porro quisquam est qui dolorem ipsum quia dolor sit amet?</div>
                <div class="collapsible-body"><p>Phasellus nec turpis lacus. Suspendisse pulvinar ut ligula ut egestas. Quisque posuere viverra enim sagittis pellentesque.</p></div>
              </li>
              <li>
                <div class="collapsible-header">11. Nam finibus interdum ipsum non pretium?</div>
                <div class="collapsible-body"><p>Sed ac nunc sed ligula ultrices suscipit. Curabitur nec pharetra nulla, sit amet aliquet tortor. Proin consequat ultrices euismod. Quisque at nibh euismod, faucibus arcu a, porta orci. Nulla facilisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p></div>
              </li>
            </ul>
          </div>
        </div>
      </div>

<!-- Javascripts -->
<script src="assets/plugins/jquery/jquery-2.2.0.min.js"></script>
<script src="assets/plugins/materialize/js/materialize.min.js"></script>
<script src="assets/plugins/material-preloader/js/materialPreloader.min.js"></script>
<script src="assets/plugins/jquery-blockui/jquery.blockui.js"></script>
<script src="assets/plugins/simditor/scripts/module.js"></script>
<script src="assets/plugins/simditor/scripts/hotkeys.js"></script>
<script src="assets/plugins/simditor/scripts/uploader.js"></script>
<script src="assets/plugins/simditor/scripts/simditor.js"></script>
<script src="assets/js/alpha.min.js"></script>
<script src="assets/js/pages/mailbox.js"></script>
