
      <div class="col s12">
        <ul class="tabs tab-demo z-depth-1" style="width: 100%;">
          <li class="tab col s3"><a href="#test1" class="">Import File</a></li>
          <li class="tab col s3"><a class="" href="#test2">Export File</a></li>
        </ul>
      </div>
      <div id="test1" class="col s12">
        <div class="col s12">
          <div class="page-title">File Upload (.xls, .xlsx file is approve Maximum 5MB)</div>
        </div>
        <div class="col s12 m12 l12">
          <div class="card">
            <div class="card-content">
              <form action="/file-upload" class="dropzone">
                <div class="fallback">
                  <input name="file" type="file" multiple />
                </div>
                <div class="form-group">
                  <button class="waves-blue btn waves-button-input">UPLOAD</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div id="test2" class="col s12"><p class="p-v-sm">Test 2</p></div>
<!-- Javascripts -->
<script src="assets/plugins/jquery/jquery-2.2.0.min.js"></script>
<script src="assets/plugins/materialize/js/materialize.min.js"></script>
<script src="assets/plugins/material-preloader/js/materialPreloader.min.js"></script>
<script src="assets/plugins/jquery-blockui/jquery.blockui.js"></script>
<script src="assets/plugins/simditor/scripts/module.js"></script>
<script src="assets/plugins/simditor/scripts/hotkeys.js"></script>
<script src="assets/plugins/simditor/scripts/uploader.js"></script>
<script src="assets/plugins/simditor/scripts/simditor.js"></script>
<script src="assets/plugins/dropzone/dropzone.min.js"></script>
<script src="assets/plugins/dropzone/dropzone-amd-module.min.js"></script>
<script src="assets/js/alpha.min.js"></script>
<script src="assets/js/pages/mailbox.js"></script>
