<!DOCTYPE html>
<html lang="en">
<head>

<!-- Title -->
<title>Home</title>

<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta charset="UTF-8">
<meta name="description" content="Responsive Admin Dashboard Template" />
<meta name="keywords" content="admin,dashboard" />
<meta name="author" content="Steelcoders" />

<!-- Styles -->
<link type="text/css" rel="stylesheet" th:href="@{../assets/plugins/materialize/css/materialize.min.css}" />
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link th:href="@{../assets/plugins/material-preloader/css/materialPreloader.min.css}" rel="stylesheet">
<link th:href="@{../assets/plugins/pricing-tables/css/style.css}" rel="stylesheet">
	<link th:href="@{../assets/plugins/sweetalert/sweetalert.css}" rel="stylesheet">
<link th:href="@{../assets/plugins/simditor/styles/simditor.css}"
	rel="stylesheet" />

<!-- Theme Styles -->
<link th:href="@{../assets/css/alpha.min.css}" rel="stylesheet" type="text/css" />
<link th:href="@{../assets/css/custom.css}" rel="stylesheet" type="text/css" />

<script th:src="@{../assets/plugins/pricing-tables/js/modernizr.js}"></script>
</head>
<body>
	<!-- <div th:replace="layouts/loader :: loader"></div> -->
	<div class="mn-content fixed-sidebar">
		<div th:replace="layouts/admin-header :: header"></div>
		<div th:replace="layouts/admin-side-menu :: side-menu"></div>
		<main class="mn-inner inner-active-sidebar m-t-lg">
			<div id="main-content" class="row no-m-t no-m-b"></div>
		</main>
	</div>
	<!-- Javascripts -->

	<script th:src="@{../assets/plugins/jquery/jquery-2.2.0.min.js}"></script>
	<script th:src="@{../assets/plugins/materialize/js/materialize.min.js}"></script>
	<script th:src="@{../assets/plugins/material-preloader/js/materialPreloader.min.js}"></script>
	<script th:src="@{../assets/plugins/jquery-blockui/jquery.blockui.js}"></script>
	<script th:src="@{../assets/plugins/sweetalert/sweetalert-dev.js}"></script>
	<script th:src="@{../assets/plugins/sweetalert/sweetalert.min.js}"></script>
	<script th:src="@{../assets/js/alpha.min.js}"></script>
	<script th:src="@{../assets/js/custom.js}"></script>
</body>
</html>