<html xmlns:th="http://www.thymeleaf.org">
<div class="col s12 m12 l12 no-p-h">
	<div class="card mailbox-content" th:fragment="content-all">
		<div class="card-content">
			<div class="col s12 m12 l12 p-h-md">
				<h3>Subjects Management</h3>
			</div>
			<div class="row no-m-t no-m-b">
				<div class="col s12 m12 l12">
					<div class="mailbox-view">
						<div class="mailbox-view-header">
							<div class="divider mailbox-divider"></div>
							<h5>Feedback List</h5>
							<div class="class-actions m-t-md"></div>
							<div class="divider mailbox-divider"></div>
							<div class="">
								<table style="table-layout: fixed;"
									class="responsive-table bordered striped p-h-md">
									<thead>
										<tr>
											<th data-field="name">Subject Name</th>
											<th data-field="code">Subject Code</th>
											<th data-field="duration">Duration</th>
											<th data-field="feedback">Feedback</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="subject : ${subjects}">
											<td th:text="${subject.name}"></td>
											<td th:text="${subject.code}"></td>
											<td th:text="${subject.duration}"></td>
											<td><a
												class="modal-trigger waves-effect waves-blue btn m-t-xs"
												href="#feedback-modal"
												th:onclick="'getFeedback(' + ${subject.id} + ')'"><i
													class="material-icons dp48">chat</i></a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="left-sidebar-hover"></div>
<div class="fixed-action-btn vertical"
	style="bottom: 45px; right: 24px;">
	<a class="btn-floating btn-large red"> <i
		class="large material-icons">mode_edit</i>
	</a>
	<ul>
		<li><a href="#add-subject-modal"
			class="btn-floating blue modal-trigger"><i class="material-icons">add</i>Add</a></li>
		<li><a class="btn-floating green darken-1"><i
				class="material-icons">description</i></a></li>
	</ul>
</div>
<!-- Modal feedback-->
<div id="feedback-modal" class="modal" th:fragment="feedback">
	<form class="col s12">
		<div class="modal-content">
			<h4>Add new trainee</h4>
			<div class="row" th:text="${feedbacks}">Feedback</div>
		</div>
		<div class="modal-footer">
			<a href="#!"
				class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
		</div>
	</form>
</div>
<!-- Javascripts -->
<script src="assets/plugins/jquery/jquery-2.2.0.min.js"></script>
<script src="assets/plugins/materialize/js/materialize.min.js"></script>
<script
	src="assets/plugins/material-preloader/js/materialPreloader.min.js"></script>
<script src="assets/plugins/jquery-blockui/jquery.blockui.js"></script>
<script src="assets/plugins/simditor/scripts/module.js"></script>
<script src="assets/plugins/simditor/scripts/hotkeys.js"></script>
<script src="assets/plugins/simditor/scripts/uploader.js"></script>
<script src="assets/plugins/simditor/scripts/simditor.js"></script>
<script src="assets/js/alpha.min.js"></script>
<script src="assets/js/pages/mailbox.js"></script>
</html>
