
<div class="col s12 m12 l12 no-p-h">
	<div class="card mailbox-content">
		<div class="card-content">
			<div class="col s12 m12 l12 p-h-md">
				<h3>Trainees Management</h3>
				<div class="input-field col s4 m-t-sm">
					<p class="f-s-16">View by category</p>
					<select class="p-h-md">
						<option value="0" selected>All</option>
						<option value="1">Java</option>
						<option value="2">.Net</option>
						<option value="3">Test</option>
					</select>
				</div>
				<div class="input-field col s4 m-t-sm">
					<p class="f-s-16">View by class</p>
					<select class="p-h-md">
						<option value="0" selected>All</option>
						<option value="1">Class 1</option>
						<option value="2">Class 2</option>
						<option value="3">Class 3</option>
					</select>
				</div>
				<div class="input-field col s4 m-t-sm">
					<p class="f-s-16">View by status</p>
					<select class="p-h-md">
						<option value="0">All</option>
						<option value="1" selected>Active</option>
						<option value="2">Inactive</option>
					</select>
				</div>
			</div>
			<div class="row no-m-t no-m-b">
				<div class="col s12 m12 l12">
					<div class="mailbox-view">
						<div class="mailbox-view-header">
							<div class="mailbox-text">

								<div class="divider mailbox-divider"></div>
								<div class="">
									<table style="table-layout: fixed;"
										class="responsive-table bordered striped p-h-md">
										<thead>
											<tr>
												<th data-field="fullname">Full Name</th>
												<th class="w-25" data-field="birthdate">Birth Date</th>
												<th class="w-25" data-field="email">Email</th>
												<th class="w-25" data-field="phone">Phone</th>
												<th class="w-25" data-field="gender">Gender</th>
												<th style="word-wrap: break-word;" data-field="price">Feedback</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>JPL</td>
												<td>9</td>
												<td>9</td>
												<td>Done</td>
												<td>Done</td>
												<td><a
													class="modal-trigger waves-effect waves-blue btn m-t-xs"
													href="#feedback-modal"><i class="material-icons dp48">grade</i></a>
													<a class="modal-trigger waves-effect waves-blue btn m-t-xs"
													href="#grade-modal"><i class="material-icons dp48">chat</i></a>
												</td>
											</tr>
											<tr>
												<td>SQL</td>
												<td>8</td>
												<td>8</td>
												<td>Done</td>
												<td>Done</td>
												<td><a
													class="modal-trigger waves-effect waves-blue btn m-t-xs"
													href="#feedback-modal"><i class="material-icons dp48">grade</i></a>
													<a class="modal-trigger waves-effect waves-blue btn m-t-xs"
													href="#grade-modal"><i class="material-icons dp48">chat</i></a></td>
											</tr>
											<tr>
												<td>ORM</td>
												<td>--</td>
												<td>--</td>
												<td>Done</td>
												<td>Done</td>
												<td><a
													class="modal-trigger waves-effect waves-blue btn m-t-xs"
													href="#feedback-modal"><i class="material-icons dp48">grade</i></a>
													<a class="modal-trigger waves-effect waves-blue btn m-t-xs"
													href="#grade-modal"><i class="material-icons dp48">chat</i></a></td>
											</tr>
											<tr>
												<td>CNU</td>
												<td>--</td>
												<td>--</td>
												<td>Done</td>
												<td>Done</td>
												<td><a
													class="modal-trigger waves-effect waves-blue btn m-t-xs"
													href="#feedback-modal"><i class="material-icons dp48">grade</i></a>
													<a class="modal-trigger waves-effect waves-blue btn m-t-xs"
													href="#grade-modal"><i class="material-icons dp48">chat</i></a></td>
											</tr>
											<tr>
												<td>JWEB</td>
												<td>--</td>
												<td>--</td>
												<td>Done</td>
												<td>Done</td>
												<td><a
													class="modal-trigger waves-effect waves-blue btn m-t-xs"
													href="#feedback-modal"><i class="material-icons dp48">grade</i></a>
													<a class="modal-trigger waves-effect waves-blue btn m-t-xs"
													href="#grade-modal"><i class="material-icons dp48">chat</i></a></td>
											</tr>
											<tr>
												<td>SFW</td>
												<td>--</td>
												<td>--</td>
												<td>Done</td>
												<td>Done</td>
												<td><a
													class="modal-trigger waves-effect waves-blue btn m-t-xs"
													href="#feedback-modal"><i class="material-icons dp48">grade</i></a>
													<a class="modal-trigger waves-effect waves-blue btn m-t-xs"
													href="#grade-modal"><i class="material-icons dp48">chat</i></a></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="left-sidebar-hover"></div>

<div class="fixed-action-btn vertical"
	style="bottom: 45px; right: 24px;">
	<a class="btn-floating btn-large red"> <i
		class="large material-icons">mode_edit</i>
	</a>
	<ul>
		<li><a href="#add-trainee-modal"
			class="btn-floating blue modal-trigger"><i class="material-icons">add</i>Add</a></li>
		<li><a class="btn-floating green darken-1"><i
				class="material-icons">description</i></a></li>
	</ul>
</div>

<!-- Modal feedback -->
<div id="grade-modal" class="modal">
	<form class="col s12">
		<div class="modal-content">
			<h4>Add new trainee</h4>
			<textarea rows="5" cols="5"></textarea>
		</div>
		<div class="modal-footer">
			<a href="#!"
				class=" modal-action modal-close waves-effect waves-green btn-flat">Done</a>
		</div>
	</form>
</div>

<!-- Modal feedback -->
<div id="feedback-modal" class="modal">
	<form class="col s12">
		<div class="modal-content">
			<h4>Grade</h4>
			<table>
				<tr>
					<th>Subject</th>
					<th>Theory</th>
					<th>Practice</tr>
				
				<tr>
					<td>JPL</td>
					<td>8
					</td>
					<td>9</td>
				</tr>
				<tr>
					<td>SQL</td>
					<td>8</td>
					<td>9</td>
				</tr>
				<tr>
					<td>ORM</td>
					<td>8</td>
					<td>9</td>
				</tr>
			</table>
		</div>
		<div class="modal-footer">
			<a href="#!"
				class=" modal-action modal-close waves-effect waves-green btn-flat">Done</a>
		</div>
	</form>
</div>

<script src="assets/plugins/jquery/jquery-2.2.0.min.js"></script>
<script src="assets/plugins/materialize/js/materialize.min.js"></script>
<script
	src="assets/plugins/material-preloader/js/materialPreloader.min.js"></script>
<script src="assets/plugins/jquery-blockui/jquery.blockui.js"></script>
<script src="assets/plugins/simditor/scripts/module.js"></script>
<script src="assets/plugins/simditor/scripts/hotkeys.js"></script>
<script src="assets/plugins/simditor/scripts/uploader.js"></script>
<script src="assets/plugins/simditor/scripts/simditor.js"></script>
<script src="assets/js/alpha.min.js"></script>
<script src="assets/js/pages/mailbox.js"></script>
</body>
</html>